---
BasedOnStyle: Google
UseTab: Never
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
AlignTrailingComments: true
ColumnLimit: 80
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false

BreakBeforeBraces: Linux
SortIncludes: false
---
